# Node dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build

# Arquivos sensíveis
.env
serviceAccountKey.json

# WhatsApp Web JS session
.wwebjs_auth

# MacOS
.DS_Store